:root {
  --smarthome-color-bright-font: #d5d5d5;
  --smarthome-color-dark-font: #878787;
  --smarthome-color-bright-svg: #d5d5d5;
  --smarthome-color-bright-border: #d5d5d5;
  --smarthome-color-background-dark: #121212;
  --smarthome-color-blue-font: #53d9ff;
  --smarthome-color-green-svg: #5cb85c;
  --smarthome-color-red-svg: #b51313;
  --smarthome-font-size-01: 0.5rem;
  --smarthome-font-size-02: 0.7rem;
  --smarthome-font-size-03: 1rem;
  --smarthome-font-size-04: 1.2rem;
  --smarthome-font-size-05: 1.5rem;
  --smarthome-font-size-06: 2rem;
  --smarthome-font-size-07: 2.5rem;
  --smarthome-font-size-08: 3.5rem;
  --smarthome-color-status-ok: #287c01;
  --smarthome-color-status-warning: #707000;
  --smarthome-color-status-alert: #830000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --lumo-base-color: #121212;
  }
}

body {
  font-family: Open Sans, sans-serif;
  background-color: var(--smarthome-color-background-dark); !important;
}

.border-m {
  border-width: 0.2rem;
  border-style: solid;
}

.border-rounded-m {
  border-radius: 2rem;
}

.border-color-bright {
  border-color: var(--smarthome-color-bright-border) !important;
}

.content-centered {
  justify-content: center;
}
.align-items-baseline {
  align-items: baseline;
}

.display-item-small {
  max-width: 18rem ;
}

.display-title {
  color: var(--smarthome-color-dark-font);
  font-size: var(--smarthome-font-size-04);
  display: grid;
  grid-template-columns: 1fr 60% 1fr;
  padding-top: 0.2rem;
}

.grid-cell-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-footer {
  color: var(--smarthome-color-dark-font);
  display: flex;
  justify-content: center;
  padding-bottom: 0.2rem;
}

.fixed-width-01 {
  width: 20px;
}

.flex {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

.flex-horizontal {
  flex-direction: row;
}

.flex-vertical {
  flex-direction: column;
}

.font-size-l {
  font-size: 2rem;
}

.font-size-xl {
  font-size: var(--smarthome-font-size-08);
}

.gap-s {
  gap: 0.5rem;
}

.gap-m {
  gap: 1rem;
}

.image-size-s {
  width: 1rem;
  height: 1rem;
}

.image-size-m {
  width: 1.8rem;
}

.main {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.max-width-20rem {
  max-width: 20rem;
}

.main-column {
  width: 800px;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.left-column, .right-column {
  flex: 1;
}

.status-ok {
  color: var(--smarthome-color-status-ok);
}

.status-warning {
  color: var(--smarthome-color-status-warning);

}

.status-alert {
  color: var(--smarthome-color-status-alert);
}



@media (max-width: 768px) {

  .main {
    flex-direction: column;
    justify-content: center; /* Centers the child horizontally */
    align-items: center; /* Centers the child vertically */
  }

  .left-column, .right-column  {
    display: none; /* Hide the left and right columns */
  }

  .main-column {
    display: flex;
    max-width: 100%; /* Use the full width on smaller screens */

    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .display-item-small {
    min-width: 300px ;
    max-width: 80% ;
  }
}

.font-color-blue {
  color: var(--smarthome-color-blue-font);
}

.svg-color-bright {
  color: var(--smarthome-color-bright-border);
}

.svg-color-red {
  color: var(--smarthome-color-red-svg);
}

.svg-color-green {
  color: var(--smarthome-color-green-svg);
}
